typing-extensions==4.15.0
langchain-openai==1.0.1
langchain-experimental==0.0.42
pandas==2.3.3
yfinance==0.2.66
praw==7.8.1
feedparser==6.0.12
stockstats==0.6.5
eodhd==1.0.32
langgraph==1.0.1
chromadb==1.2.1
setuptools==80.9.0
backtrader==1.9.78.123
akshare==1.17.71
tushare==1.4.24
finnhub-python==2.4.25
parsel==1.10.0
requests==2.32.5
tqdm==4.67.1
pytz==2025.2
redis==7.0.0
chainlit==2.8.3
rich==14.2.0
questionary==2.1.1
langchain-anthropic==1.0.0
langchain-google-genai==3.0.0
streamlit==1.50.0
python-dotenv==1.1.1
psycopg2-binary==2.9.11
